.env
.env.*
**/.env
**/.env.*

node_modules/
server/node_modules/
client/node_modules/

server/dist/
client/dist/
client/.next/
client/build/

server/coverage/
client/coverage/

.DS_Store
.vscode/
.idea/
*.log

.git/
