FIREBASE_PROJECT_ID=develop-soulmonsters
FIREBASE_PRIVATE_KEY=xxxxx
FIREBASE_CLIENT_EMAIL=xxxxx@develop-soulmonsters.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://develop-soulmonsters.firebaseio.com

CORS_ORIGIN=*

DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=soulmonsters

MOCK_USER=false
MOCK_USER_ID=userId

NGINX_BASIC_AUTH_USER=user
NGINX_BASIC_AUTH_PASS=pass
